.idea/
.vscode/
/bin/
# env file
.env

# build file
auth
!iauth/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# CodeCov
coverage.txt

.DS_Store

dist/
